* {
    margin: 0;
    padding: 0;
}


.header {
    background-color: red;
    padding: 5px;
    text-align: center;
}

.header-text {
    color: white;
    font-size: 50px;
    margin: 0;
}

.navigation {
    text-align: center;
    background-color: orange;
    padding: 5px;
}

.navigation-item {
    color: white;
    text-decoration: underline;
    font-size: 25px;
    margin: 5px;
}


.main {
    background-color: green;
    padding: 20px;
}

.article {
    padding: 30px;
    background-color: blue;
}

.article-header {
    color: white;
    font-size: 30px;
}

.article-list {
    padding: 30px;
    box-sizing: border-box;
    color: white;
    font-size: 20px;
}

.footer {
    text-align: center;
    background-color: darkviolet;
}

.footer-text {
    font-size: 50px;
    color: white;
    font-weight: 400;
}